.homepage-robotiik {
    display: flex;
    width: 100%;
    padding-top: 35px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url(HomepageRobotiik.svg);
    background-size: cover;
}

.homepage-robotiik .homepage-res {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 49px;
}
.outer3 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.outer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.35));
    border: none;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    width: 499px;
    height: 737px;
    padding: 63px 45px 63px 45px;
    gap: 39px;
    border-radius: 50px;
}

.outer2 img {
    width: 409px;
    height: 322px;
    border-radius: 50px;
    filter: grayscale(100%);
}

.paragrafService {
    font-family: Oxanium;
    text-align: center;
    color: white;
    line-height: 25px;
    font-weight: 400;
    font-size: 20px;
}
.outer2:hover {
    scale: 1.01;
}